<body>
    <menu class="menu"></menu>
    <div class="student-profile">
        <div></div>
        <div class="profile-picture-grid-container">
            <img src="../../../assets/images/placeholder-image.png" class="profile-picture">
        </div>
        <div class="bio">
            <mat-card>
                <p>
                    Name:
                </p>
                <p>
                    Status: 
                </p>
                <p>
                    Bio: 
                </p>
            </mat-card>

        </div>
    </div>
    <div class="notes">
        <div></div>
        <div class="notes-container">
            <mat-card class="notes-header-card notes-card">
                <div>
                    Mentor's Notes
                </div>
            </mat-card>
            <div class="notes-button">
                <button>Filter</button>
                <button>Add New</button>
            </div>
            <mat-card class="notes-card" *ngFor="let note of notes">
                <div>
                    {{note.mentorName}} : {{note.message}}
                </div>
                <div class="notes-date"> {{note.date}} </div>
            </mat-card>
        </div>
    </div>   
</body>