/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px) {
    .student-profile {
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;

    }
}

.student-profile {
    display: grid;
    grid-template-columns: 10% 30% 50% 10%;
    align-items: center;
}

.bio {
    padding: 10px;
}

.menu {
    margin: 0px;
    padding-left: 0px;
}
@media only screen and (min-device-width: 400px) {

    .profile-picture {
        display: flex;
        height: auto;
        max-width: 100%;
        justify-content: center;
    }
}

.profile-picture-grid-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.profile-picture {
    height: auto;
    max-width: 100%;
}

.notes {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    height: 100vh;
    background-color:#d3d3d3;
    ;
}

.notes-container {
    padding: 10px;
}

.notes-card {
    margin-bottom: 5px;
}

.notes-header-card {
    display: flex;
    justify-content: center;
}

.notes-date {
    font-size: 10px;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    width: 30%;
}
.filter-add-new {
    display: flex;
    justify-content: flex-end;
}

.add-new-button {
    background-color: purple;
    color: white;
    margin-left: 20px;
}