<body>
    <menu class="menu"></menu>
    <div class="student-profile">
        <div></div>
        <div class="profile-picture-grid-container">
            <img src="../../../assets/images/placeholder-image.png" class="profile-picture">
        </div>
        <div class="bio">
            <mat-card>
                <p>
                    Name:
                </p>
                <p>
                    Status: 
                </p>
            </mat-card>

        </div>
    </div>
    
    <div class="form one-on-one-form">
        <div></div>
        <div>1st Form</div>
    </div>
    
    <div class="form bootcamp-form">
        <div></div>
        <div>2nd Form</div>
    </div>
    
</body>